<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="8333NarayanRathore.BouncingBall" Publisher="CN=2B42AA2F-9F85-42FC-873D-616B9901D5B5" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Bouncing Ball</DisplayName>
    <PublisherDisplayName>Narayan Rathore</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BouncingBall.App">
      <VisualElements DisplayName="Bouncing Ball" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="BouncingBall" ForegroundText="light" BackgroundColor="#000000">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#000000" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>