/*1352691736,173217629*/

.sp_bkj7t1{background-image:url(https://s-static.ak.fbcdn.net/rsrc.php/v2/y1/x/Df1mL4a8yRG.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_759183{background-position:0 -374px}
.sx_9dfdbc{background-position:0 -391px}
.sx_e6430d{background-position:0 -408px}
.sx_ffc909{background-position:0 -425px}
.sx_758988{background-position:0 -442px}
.sx_f8a895{background-position:0 -459px}
.sx_ce117c{background-position:0 -476px}
.sx_8ffa6c{background-position:0 -493px}
.sx_75ad5b{background-position:0 -510px}
.sx_858e22{background-position:0 -527px}
.sx_036ec9{background-position:0 -748px}
.sx_79612f{background-position:0 -561px}
.sx_c395c7{background-position:0 -578px}
.sx_08f044{background-position:0 -595px}
.sx_1ec3d9{background-position:0 -612px}
.sx_79339a{background-position:0 -629px}
.sx_c4fdca{background-position:0 -646px}
.sx_3a6cc1{background-position:0 -663px}
.sx_e63832{background-position:0 -680px}
.sx_1b8ade{background-position:0 -697px}
.sx_0221c1{background-position:0 -714px}
.sx_1e4e9b{background-position:0 -731px}
.sx_b8d248{background-position:0 -544px}
.sx_424298{background-position:0 0}
.sx_ef6925{background-position:0 -17px}
.sx_eb962d{background-position:0 -34px}
.sx_a7f5c9{background-position:0 -51px}
.sx_8ef11e{background-position:0 -68px}
.sx_364752{background-position:0 -85px}
.sx_69d5f3{background-position:0 -102px}
.sx_8bb8f7{background-position:0 -119px}
.sx_510922{background-position:0 -136px}
.sx_3549cb{background-position:0 -153px}
.sx_75a80b{background-position:0 -357px}
.sx_1a3650{background-position:0 -187px}
.sx_321540{background-position:0 -204px}
.sx_6c6c52{background-position:0 -221px}
.sx_75cfc3{background-position:0 -238px}
.sx_9d5898{background-position:0 -255px}
.sx_bd0f45{background-position:0 -272px}
.sx_610296{background-position:0 -289px}
.sx_9bd048{background-position:0 -306px}
.sx_b9237f{background-position:0 -323px}
.sx_5bb1ec{background-position:0 -340px}
.sx_c3fba1{background-position:0 -170px}

#bootloader_xO7Pl { height: 42px; }