/*1352691816,178142491*/

.sp_2voup5{background-image:url(https://s-static.ak.fbcdn.net/rsrc.php/v2/yH/x/eMc63H5K_aY.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_086e62{background-position:-358px -14px}
.selected .sx_086e62{background-position:-342px -14px}
.sx_fa521b{background-position:-138px -64px}
.sx_e123bb{width:12px;height:10px;background-position:-644px -14px}
.sx_5e2799{width:17px;background-position:-157px -14px}
.selected .sx_5e2799{background-position:-140px -14px}
.sx_d493ea{width:17px;background-position:-122px -14px}
.selected .sx_d493ea{background-position:-105px -14px}
.sx_a427d2{width:12px;height:12px;background-position:-568px -14px}
.selected .sx_a427d2{background-position:-555px -14px}
.sx_4929d1{width:12px;height:12px;background-position:-594px -14px}
.selected .sx_4929d1{background-position:-581px -14px}
.sx_3a95bb{width:13px;height:12px;background-position:-541px -14px}
.selected .sx_3a95bb{background-position:-528px -14px}
.sx_cb336c{width:17px;background-position:-192px -14px}
.selected .sx_cb336c{background-position:-175px -14px}
.sx_549d41{width:17px;background-position:-87px -14px}
.selected .sx_549d41{background-position:-70px -14px}
.sx_3f1fca{width:17px;background-position:-52px -14px}
.selected .sx_3f1fca{background-position:-35px -14px}
.sx_e767f9{width:17px;background-position:-17px -14px}
.selected .sx_e767f9{background-position:0 -14px}
.sx_6e8ed9{background-position:-457px -14px}
.selected .sx_6e8ed9{background-position:-441px -14px}
.sx_6d77a5{width:13px;height:12px;background-position:-487px -14px}
.selected .sx_6d77a5{background-position:-474px -14px}
.sx_8e19eb{width:13px;height:12px;background-position:-514px -14px}
.selected .sx_8e19eb{background-position:-501px -14px}
.sx_7591ea{width:9px;height:14px;background-position:-213px -31px}
.selected .sx_7591ea{background-position:-204px -31px}
.sx_624ed2{background-position:-424px -14px}
.selected .sx_624ed2{background-position:-408px -14px}
.sx_ade3df{background-position:-226px -14px}
.selected .sx_ade3df{background-position:-210px -14px}
.sx_4fdbc6{background-position:-325px -14px}
.selected .sx_4fdbc6{background-position:-309px -14px}
.sx_589489{background-position:-292px -14px}
.selected .sx_589489{background-position:-276px -14px}
.sx_fc9ce8{background-position:-259px -14px}
.selected .sx_fc9ce8{background-position:-243px -14px}
.sx_769f0f{background-position:-70px -64px}
.sx_2f2375{background-position:-391px -14px}
.selected .sx_2f2375{background-position:-375px -14px}
.sx_cfecc5{background-position:-155px -64px}
.sx_b55004{background-position:-53px -64px}
.sx_e09741{background-position:-36px -64px}
.sx_74228e{background-position:-121px -64px}
.sx_047f8a{background-position:-104px -64px}
.sx_230352{height:17px;background-position:-19px -64px}
.sx_a091cb{width:17px;height:12px;background-position:-626px -14px}
.sx_bfbc1e{background-position:-87px -64px}
.sx_f7492a{width:32px;height:32px;background-position:-99px -31px}
.sx_e2cae9{width:32px;height:32px;background-position:0 -31px}
.sx_6f06fe{width:32px;height:32px;background-position:-33px -31px}
.sx_54d359{width:32px;height:32px;background-position:-66px -31px}
.sx_cf033b{width:9px;height:12px;background-position:-616px -14px}
.selected .sx_cf033b{background-position:-607px -14px}
.sx_50e3d8{width:18px;height:18px;background-position:0 -64px}
.sx_9cc736{width:19px;height:15px;background-position:-184px -31px}
.sx_4c7c39{width:19px;height:15px;background-position:-164px -31px}
.sx_6dacae{width:15px;height:21px;background-position:-148px -31px}
.sx_3cce87{width:15px;height:21px;background-position:-132px -31px}
.sx_431c99{width:411px;height:4px;background-position:0 -9px}
.sx_ddb67a{width:851px;height:4px;background-position:0 0}
.sx_d416b1{width:411px;height:3px;background-position:-412px -9px}
.sx_81e278{width:851px;height:3px;background-position:0 -5px}

#bootloader__tEeI { height: 42px; }