/*1352691968,173214269*/

.sp_b0vwcb{background-image:url(https://s-static.ak.fbcdn.net/rsrc.php/v2/yk/x/JLnw2Fy5ror.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_456d91{background-position:-16px -91px}
.selected .sx_456d91{background-position:0 -91px}
.sx_e70263{width:17px;background-position:-54px -72px}
.selected .sx_e70263{background-position:-37px -72px}
.sx_af8e4d{width:12px;height:12px;background-position:-85px -72px}
.selected .sx_af8e4d{background-position:-72px -72px}
.sx_63028f{width:6px;height:11px;background-position:-56px -91px}
.selected .sx_63028f{background-position:-50px -91px}
.sx_c3f2db{width:18px;height:18px;background-position:-18px -72px}
.sx_c3f2db:hover{background-position:0 -72px}
.sx_e03468{background-position:-33px -91px}
.sx_2fa895{width:103px;height:30px;background-position:0 0}
.sx_84bea3{width:80px;height:17px;background-position:-8px -43px}

#bootloader_lxd6Q { height: 42px; }